<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Удаление связи новостей и категорий</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<div th:replace="menu :: menu"></div>
<h1>Удаление связи новостей и категорий</h1>
<form action="#" th:action="@{/newscategories/delete}" method="post">
    <table>
        <tr>
            <td>ID_Новости:</td>
            <td><input type="text" name="newsId" /></td>
        </tr>
        <tr>
            <td>ID_Категории:</td>
            <td><input type="text" name="categoriesId" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Удалить" /></td>
        </tr>
    </table>
</form>
</body>
</html>
