<!DOCTYPE html>
<html>
<head>
  <title>Пользователь добавлен!</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container py-5">
<h1 class="text-center mb-3">Пользователь добавлен!</h1>
<p class="text-center mb-3">Пользователь успешно зарегистрирован на сайте.</p>
<div class="text-center">
  <a href="javascript:history.back()" class="btn btn-primary">Добавить ещё одного пользователя</a>
  <a href="/" class="btn btn-primary">На главную страницу</a>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>