<!DOCTYPE html>
<html>
<head>
  <title>Спасибо за регистрацию!</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container py-5">
<h1 class="text-center mb-3">Спасибо за регистрацию!</h1>
<p class="text-center mb-0">Вы успешно зарегистрировались на нашем сайте.</p>
<p class="text-center mb-3">Теперь вы можете войти в свой личный кабинет.</p>
<div class="text-center">
  <a href="/login" class="btn btn-primary">Войти</a>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>